.Homepage {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/images/pinkGrades.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.Navigation {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgb(113, 111, 111);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  color: white;
}

.right-button {
  position: absolute;
  right: 1200px;
  top: 190px;
}
.animated-text {
  display: inline-block;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  animation: horizontalSlide 3s infinite;
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
}

.arrow {
  display: inline-block;
}

@keyframes horizontalSlide {
  0%, 100% {
    transform: translateX(-50%);
  }
  25% {
    transform: translateX(-45%);
  }
  50% {
    transform: translateX(-55%);
  }
  75% {
    transform: translateX(-50%);
  }
}



@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.greeting {
  font-size: 4em; 
  font-weight: bold;
  color: #333; 
  margin-top: 50px; 
  text-align: center; 
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
}

.description {
  font-size: 1.7em;
  color: #333;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  white-space: nowrap;

}

.description span {
  display: inline-block;
  animation: wave 2s infinite;
}

.main-content {
  padding-top: 80px;
  width: 111%;
  padding: 20px;
  box-sizing: border-box;
}

.main-header {
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.swoopIn {
  padding-top: 80px;
  animation: swoopIn 1s ease-out forwards;
  align-items: left;
}

@keyframes swoopIn {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.music-note {
  font-size: 2em;
  display: inline-block;
  margin: 30px 10px;
  animation: dance 2s infinite;
}

@keyframes dance {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
}

.info-block {
  margin-bottom: 20px;
}

.tracks-block, .audio-block {
  margin-bottom: 20px;
}

.links-block {
  margin-top: 20px;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

h5 {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.link-button {
  color: rgb(185, 41, 180);
  text-decoration: none;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.link-button:last-child {
  margin-right: 0;
}

.link-button:hover {
  background-color: #1c3d65;
  color: #007bff;
}

.list-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.list-box {
  padding: 20px;
  margin: 10px;
  flex: 1 0 30%;
  min-width: 300px;
  max-width: 33%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-bar {
  width: 80%;
  max-width: 400px;
  padding: 8px;
  margin-bottom: 20px;
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-brand {
  font-weight: bold;
  color: white !important;
  font-size: 1.2rem;
}

.nav-link {
  color: #17181a !important;
  font-size: 1.4rem;
}

.nav-link:hover {
  color: rgb(120, 66, 118) !important;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  font-weight: bold;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h2, p {
  margin-bottom: 1rem;
}

.button, .form-control {
  margin-top: 0.5rem;
  background-color: rgb(120, 66, 118);
}

.button:hover {
  margin-top: 0.5rem;
  color: rgb(120, 66, 118);
  background-color: black;
}


.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  padding: 20px 0;
}

.top-header {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  animation: fadeIn 2s ease-out;
}

.boxes-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.profile-box, .composer-box, .composition-box {
  padding: 20px;
  margin: 10px;
  flex: 1 0 30%;
  min-width: 400px;
  max-width: 33%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
}

/* Centering form within Home component */
.form-wrapper {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -140px;
}

.left-section {
  flex: 1;
  max-width: 300px;
  margin-right: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.main-section {
  flex: 2;
}

.compositions-section {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%; 
  max-width: 1200px; 
  margin: 20px auto; 
}
