/* Ensure the parent container takes the full height and centers the form */
.form-page {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 19vh; */
    background-color: transparent; /* Transparent background */
    padding: 0px;
    /* background-image: url('/images/pinkGrades.jpg'); */
  }
  
  .form-container {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .form-title {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
  }
  
  .form-content label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-content button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .form-content button:hover {
    background-color: #0056b3;
  }
  
  /* Modal styles */
  .error-modal {
    background: white;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .error-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .error-modal h2 {
    margin-bottom: 20px;
    color: #d9534f;
  }
  
  .error-modal p {
    margin-bottom: 20px;
  }
  
  .error-modal button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-modal button:hover {
    background-color: #c9302c;
  }
  